
  .app-container{
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    height:100vh;
    display:flex;
    flex-direction: column;
  }

  .welcome-container{
    display:flex;
    width:100%;
    justify-content: center;
    color:rgb(174, 174, 169);
    font-size: medium;
    font-weight:lighter;
    margin-top:30px;
  }

