
.chat-message-user{
    display:flex;
    justify-content: end;
    align-items: end;
}

.chat-message-robot{
    display: flex;
    align-items: end;
    justify-content: start;
}

.chat-message-text{
    background-color:#EEEEEE;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-radius:10px;
    padding:3px 10px;
    margin:2px 10px 0px 10px;
    max-width: 60%;   
}

.chat-message-profile{
  width: 45px;
  display:flex;
}

.time-stamp{
    color:grey;
    display:inline-block;
    margin:3px;
}

.message-text{
    margin:5px 0px;
}

.loading-spinner{
   width:30px;
}